* {
    margin: 2px;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

header{
    flex: 1;
    text-align: left;
    width: 100%;
    height: auto;
    background-color: orangered;
    color: black;
    border: 5px black;
}

h1 {
    flex: 1;
    text-align: left;
    font-size: 50px;
}

.sectionLinks{
    flex: 1;
    width: 100%;
    height: auto;
    padding: 10 px;
    text-align: right;
    list-style-type: decimal;
    font-size: 20px;
    background-color: orangered;
    color: black;
}

h2{
    font-size: 30px;
    text-align:left;
}

p {
    text-wrap: wrap;
    width: 25%;
}

h3{
    font-size: 30px;
    text-align: left;
}
.sectionLinks li{
    display: inline;
    margin: 10px 0;
}

img{
    height: 120px;
    width: 40 px;
}

footer {
    flex: 1;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: orangered;
    color: black;
    border-width: 10px;
    border-color: black;
}

h4 {
    font-size: 30px;
}

footer li{
    display:inline;
    text-align: right;
}